.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#saying-container {
    min-height: 20px;
}